In [ ]:
                                                   Assignment 2
1.What are data structures, and why are they important?
 Data structures are different ways to organize,store and manipulate data. EX- Lists, Tuples,Sets,Dictionary etc. It makes the management and manipluation of data easy and the user is able to make efficient use of data to draw conclusions from it.
2.Explain the difference between mutable and immutable data types with examples?
 Mutable data types are those data types which can be edited or the values in them can be changed. ex- list. if we create a list and try to change the values in the list we can do it. We can replace the values of the list with another value. But if try to do so in tuples or string data type it is not posssible because these data structures once created in the memory are immutable.
3.What are the main differences between lists and tuples in Python?
 List and tuples both are ordered collection of heterogenous data type which means they can store all kinds of data. The main difference between them is lists are mutable which means the values in the list can be changed to another value after creation whereas tuples are immutable . Once created the values in tuples can be changed. So it is used to store values which doesnt need edition afterwards.
4.Describe how dictionaries store data?
 Dictionaies are an ordered collection of data which stores data in the form of key and value pair.The indexes in dictionary are replaced in python by key of the dictionary.
5.Why might you use a set instead of a list in Python?
 A list can store duplicate values whereas a set is used to store unique values. Hence if we want to eliminate redundancy of values we should use set instead of lists.
6. What is a string in Python, and how is it different from a list?
 A string is an ordered collection of alphanumeric data in python. It stores characters in the form of text. Whereas a list is ordered collection of heterogenous data. It can store all kinds of data like integers, complex, float, strings etc.
7.How do tuples ensure data integrity in Python?
 Tuples offer data integrity by ensuring that the values stored inside the tuple cant be changed after creation. So it maintains data integrity.
8.What is a hash table, and how does it relate to dictionaries in Python?
 Hash table is a data structure that stores data of the dictionary in the form of a table containing key and value pairs.
9.Can lists contain different data types in Python?
 Yes lists in python can contain different data types like integers, float,string, boolean, complex etc.
10.Explain why strings are immutable in Python?
In python the values in a string data type cannot be changed once defined hence they are called immutable.
11.What advantages do dictionaries offer over lists for certain tasks?
Dictionaries in python doesnot store duplicate keys,whereas values can be same. keys in the dictionary are of immutable data type. whereas values can be if any data type. List can store duplicate items which are ordered collection of data. dictionaries cannot store duplicate items. it has unordered collection of data. Dictionaries are used where values need to be accessed using key value pair. Like name:john,age:36 etc. Lists are used where we need to store data in an ordered format and multiple information about same kind of data.
12.Describe a scenario where using a tuple would be preferable over a list?
Tuples are immutable data type where values once stored cant be changed. so if we want to store unique records like employee id which can be changed later or adhaar number we can use tuples instead of list which can be edited later unlike tuples.
13.How do sets handle duplicate values in Python?
Duplicate values in sets are removed and only unique values are retained in a set.
14. How does the “in” keyword work differently for lists and dictionaries?
In lists in keyword is used to find that a particular item is there in the list or not by using syntax "item in listname" . If its true it returns a boolean value true otherwise false.
In dictionaries in keyword is used to find if the particular key is there in the dictionary or not. It returns true or false.
15.Can you modify the elements of a tuple? Explain why or why not?
No the elements of a tuple cant be modified because it is immutable data type. Once defined in memory its elements cant be changed.
16.What is a nested dictionary, and give an example of its use case?
It is a dictionary that contains another dictionaries. It is used where the data requires multiple layers of organization. Eg if elployee data need to be grouped by departmentsetc.
Employee= {"inventory":{"E1":"john","age":36},"sale":{"E2":"swati","age":45}}
18.In what situations are lists preferred over dictionaries?
list is an ordered collection of items whereas dictionary is unordered collection of data . Data which is sorted needs to be accessed using indexes of list is useful in the usage of lists. Whereas in dictionary the data is accessed by key value pairs.
19.Why are dictionaries considered unordered, and how does that affect data retrieval?
Yes dictionaries are unordered that means you cannot access an element of a dictionary based on its position in the ditionary. It can be accessed directly by the key name.It is fast for searching things by key name in the dictionary.
20.Explain the difference between a list and a dictionary in terms of data retrieval.
List is faster for ordered operations like sorting whereas dictionary is faster for lookup operations.

In [3]:
#1.Write a code to create a string with your name and print it?
str =input("Enter your name")
for s in str:
    print(s,end="")

Enter your name Shruti

Shruti

In [5]:
#2.Write a code to find the length of the string "Hello World"?
str="Hello World"
count=0
for i in str:
    count=count+1
print(count)

11

In [8]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"?
str="Python Programming"
s=str[0:3]
print(s)

Pyt

In [9]:
#4.Write a code to convert the string "hello" to uppercase?
str= "hello"
s= str.upper()
print(s)

HELLO

In [11]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?
str="I like apple"
s=str.replace("apple","orange")
s

'I like orange'

In [1]:
#6.Write a code to create a list with numbers 1 to 5 and print it?
numbers=[num for num in range(1,6)]
numbers

[1, 2, 3, 4, 5]

In [5]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]?
lis=[1,2,3,4]
lis.append(10)
lis

[1, 2, 3, 4, 10]

In [6]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
lis=[1,2,3,4,5]
lis.remove(3)
lis

[1, 2, 4, 5]

In [10]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
lis=['a','b','c','d']
print("second element in the list is:",lis[1])

second element in the list is: b

In [15]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
lis=[10,20,30,40,50]
rev_lis=lis[::-1]
rev_lis

[50, 40, 30, 20, 10]

In [16]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it?
tup=(10,20,30,)
print(tup)

(10, 20, 30)

In [17]:
#12.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tup=("apple","banana","cherry")
tup[0]

'apple'

In [19]:
#13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?
tup=(1,2,3,2,4,2)
tup.count(2)

3

In [22]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup=("dog","cat","rabbit")
i=tup.index("cat")
print(i)

1

In [28]:
#15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tup=("apple","orange","banana")
if "banana" in tup:
 print("the element 'banana' is present in the tuple")
else:
 print("the element is not present")

the element 'banana' is present in the tuple

In [1]:
#16.. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s={1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [2]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
s={1,2,3,4}
s.add(6)
s

{1, 2, 3, 4, 6}

In [3]:
#18.Write a code to create a tuple with the elements 10, 20, 30 and print it.
tup=(10,20,30)
tup

(10, 20, 30)

In [4]:
#19.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tup=("apple","cherry","banana")
tup[0]

'apple'

In [7]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tup=(1,2,3,2,4,2)
tup.count(2)

3

In [8]:
#21.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup=("dog","cat","rabbit")
tup.index("cat")

1

In [9]:
#22.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tup=("apple","orange","banana")
"banana" in tup

True

In [11]:
#23.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s={1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [14]:
#24.Write a code to add the element 6 to the set {1, 2, 3, 4}.
s1={1,2,3,4}
s1.add(6)
s1

{1, 2, 3, 4, 6}